.header {
    width: 100%;
    height: calc(100vh + 200px);
    min-height: 630px;
    background: url(../img/header_bg.jpg);
    background-size: 100% 100%;
    background-position: 0;
    position: relative;
    padding-top: 35px;
    padding-bottom: 100px;
    
    &__nav {
        width: 50%;
    }

    &__top {
        width: calc(100% - 150px);
        margin: 0 50px 50px 50px;
        background-color: white; 
        padding: 25px;
        display: flex;
        justify-content: space-between;

        .nav {
            &__list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                width: 100%;
            }

            &__item {
                text-transform: uppercase;
                color: inherit;                
                display: flex;
                align-items: center;
                transition: transform 0.3s;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: inherit;
                    font-size: 16px;
                }

                img {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    &:not(:last-child) {
                        transform: skewX(-20deg)
                                    scale(1.2);
                    }

                    &:last-child {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &__text {
        text-align: center;
        color: white;
        text-transform: uppercase;

        &--subtitle {
            margin-top: 130px;
            margin-bottom: 15px;
            font-size: 25px;
            font-family: 'proximanovalight';       
            line-height: 40px;
            letter-spacing: 8px;
        }

        &--title {       
            font-size: 100px;
            letter-spacing: 8.3px;            
        }
    }

    &__btn {        
        font-size: 25px;
        margin-top: 40px;
        color: white;
        border-radius: 100px;
        padding: 20px 55px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        border: solid 2px rgba(255, 255, 255, 0.8);
        transition: all 0.3s;

        &:hover {
            color: #f4c1e5;
            background-color:rgba(255, 255, 255, 0.3);
            border: solid 2px rgba($color: #f4c1e5, $alpha: 0.8);
        }

        &-wrapper {
            text-align: center;
        }
    }

    &__skew {
        content: "";
        transform: skewY(10deg);
        height: 400px;
        position: absolute;
        bottom: -280px;
        left: 0;
        width: 100%;
        background: white;
        z-index: 0;
    }

    .impressive {
        transform: skewY(-10deg);        
        position: relative;        
        color: #4e4e4e;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
        top: -25%;

        &__author {
            display: flex;
            align-items: center;

            .author {            
                &__photo {
                    background-image: url("../img/Jonathan_Bean.jpg");
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;

                    .background {
                        background: rgba($color: #fff, $alpha: 0.7);
                        width: 100%;
                        height: 100%;
                    }
                }

                &__name {
                    color: #9c9c9c;
                    font-size: 20px;
                    margin-left: 20px;
                }
            }
        }
    
        &__photos {
            width: 900px;
            display: inline-block;
            position: relative;
            left: -10px;
            z-index: 0;
        }

        .caption {
            width: 350px;
            display: inline-block;
            position: relative;
            z-index: 1;
            padding-top: 100px;
        }
        
        .photos {

            &__collage {
                display: inline-block;
                background-color: white;
                border: solid 15px #ffffff;
                box-shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);

                img {
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s;
                    cursor: pointer;
                }

                &--little {                
                    width: 150px;
                    height: 150px;
                    margin: 0 0 10px 10px;  

                    img:hover {
                        transform: scale(1.2);
                    }
                }

                &--large {
                    width: 300px;
                    height: 405px;

                    img:hover {
                        transform: scaleX(1.1) scaleY(1.085);
                    }
                }
            }

            &__block {
                display: inline-block;
                width: 400px;
            }
        }
    }

    .sc-paragraph--header {
        font-family: "San Francisco Display Medium";
    }
}

.svg__circle {
    filter: drop-shadow(0 40px 5px rgba(100, 100, 100, 0.1));
    position: absolute;
    
    &--header {
        bottom: 0;
        right: 50px;
        transform: translateY(50%);
    }
}

.more {
    margin-right: 20px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__text {
        color: #98b8f6;
        font-size: 25px;
        margin-right: 20px;
        transition: all 0.3s;
    }

    &__text, &__arrow {                    
        cursor: pointer;
    }

    &:hover {
        .more__text {
            margin-right: 5px;
        }
    }
}