img.caption__zigzag(src="img/zigzag.svg", alt="Gradient zigzag")
h2.sc-title About
div.sc-paragraph.sc-paragraph--subtitle Home to everyone's best photos
p.sc-paragraph.
    <strong>Wild_</strong> 
    is a photo community and marketplace for discovering, 
    sharing, buying, and selling inspiring photography powered 
    by creative people around the world. 

p.sc-paragraph.   
    In our community, you 
    can share your photos worldwide. From mobile photographers 
    to professionals,
    <strong>Wild_</strong> 
    has the products and features to take 
    your photography to the next level. 

p.sc-paragraph.
    We are a photography community 
    unlike any other. We help you to explore 50 million inspiring photos, 
    to connect with other enthusiasts and to learn more about the craft.

div.more
    span.more__text Learn more
    img.more__arrow(src="img/arrow.svg", alt="Arrow to right")

img.svg__square(src="img/square.svg", alt="Gradient square")
img.svg__square.svg__square--little(src="img/square.svg", alt="Gradient square")