img.caption__zigzag(src="img/zigzag.svg", alt="Gradient zigzag")
h2.sc-title Gallery

div.gallery__slider
    div.gallery__item
        figure.gallery__figure
            img(src="img/gallery_0.jpg", alt="Foam")
            figcaption.gallery__caption Foam
            time.gallery__time(datetime="2015-11-09") Nov 9, 2015
    div.gallery__item
        figure.gallery__figure
            img(src="img/gallery_1.jpg", alt="Foam")
            figcaption.gallery__caption Foam
            time.gallery__time(datetime="2015-11-09") Nov 9, 2015
    div.gallery__item
        figure.gallery__figure
            img(src="img/gallery_2.jpg", alt="Foam")
            figcaption.gallery__caption Foam
            time.gallery__time(datetime="2015-11-09") Nov 9, 2015
    div.gallery__item
        figure.gallery__figure
            img(src="img/gallery_3.jpg", alt="Foam")
            figcaption.gallery__caption Foam
            time.gallery__time(datetime="2015-11-09") Nov 9, 2015
    div.gallery__item
        figure.gallery__figure
            img(src="img/gallery_4.jpg", alt="Foam")
            figcaption.gallery__caption Foam
            time.gallery__time(datetime="2015-11-09") Nov 9, 2015

div.more.more--gallery
    span.more__text Explore gallery
    img.more__arrow(src="img/arrow.svg", alt="Arrow to right")

div.svg__crosses: img(src="img/xxx.svg", alt="Three gradient crosses")
