div.header__top
    a(href="#", title="WILD_"): img.header__logo(src="img/logo.svg", alt="WILD_")
    nav.header__nav#menu
        - var nav__items = ["home", "about", "gallery", "journal", "contact"];
        ul.nav__list
            for item in nav__items
                li.nav__item: a(href="#" + item)= item
            li.nav__item
                img#search(src="img/search.svg", alt="Search")

div.header__text.header__text--subtitle let your life be an
h1.header__text.header__text--title adventure
div.header__btn-wrapper: button.header__btn(type="submit") Get inspired

div.header__skew
    section.impressive
        div.caption
            img.caption__zigzag(src="img/zigzag.svg", alt="Gradient zigzag")
            h2.sc-title Impres&#8211;sive
            p.sc-paragraph.sc-paragraph--header Shots of the week.
            div.impressive__author
                div.author__photo: div.background
                cite.author__name by Jonathan Bean
        div.impressive__photos
            div.photos__collage.photos__collage--large: img(src="img/impressive_0.jpg", alt="Rocks in the snow")
            div.photos__block
                div.photos__collage.photos__collage--little: img(src="img/impressive_1.jpg", alt="Sunrise over the river")
                div.photos__collage.photos__collage--little: img(src="img/impressive_2.jpg", alt="Stars over the tree")
                div.photos__collage.photos__collage--little: img(src="img/impressive_3.jpg", alt="Horse eat hay")
                div.photos__collage.photos__collage--little: img(src="img/impressive_4.jpg", alt="Mountains in winter")
                div.more
                    span.more__text See all
                    img.more__arrow(src="img/arrow.svg", alt="Arrow to right")

img.svg__circle.svg__circle--header(src="img/circle.svg", alt="Gradient circle")