<img class="caption__zigzag" src="img/zigzag.svg" alt="Gradient zigzag"/><h2 class="sc-title">About</h2><div class="sc-paragraph sc-paragraph--subtitle">Home to everyone's best photos</div><p class="sc-paragraph"><strong>Wild_</strong> 
is a photo community and marketplace for discovering, 
sharing, buying, and selling inspiring photography powered 
by creative people around the world. 
</p><p class="sc-paragraph">In our community, you 
can share your photos worldwide. From mobile photographers 
to professionals,
<strong>Wild_</strong> 
has the products and features to take 
your photography to the next level. 
</p><p class="sc-paragraph">We are a photography community 
unlike any other. We help you to explore 50 million inspiring photos, 
to connect with other enthusiasts and to learn more about the craft.
</p><div class="more"><span class="more__text">Learn more</span><img class="more__arrow" src="img/arrow.svg" alt="Arrow to right"/></div><img class="svg__square" src="img/square.svg" alt="Gradient square"/><img class="svg__square svg__square--little" src="img/square.svg" alt="Gradient square"/>